.checkout {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    /*box-sizing: border-box;*/
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__left {
    flex: 0.8; /* takes 70% of the total width */
    /*padding-right: 20px; !* some space between left and right *!*/
}

.checkout__right {
    flex: 0.3; /* takes 30% of the total width */
}