.checkoutProduct {
    display: flex;
    inline-size: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 300px;
    background-color: white;
}

.checkoutProduct__info {
    padding-left: 20px;
    flex-grow: 1;
}

.checkoutProduct__info > button {
    height: 40px;
    margin-bottom: 15px;
}

.checkoutProduct__image {
    max-height: 80px;
    width: 80px;
    object-fit: contain;
    margin: 20px 0 0 15px;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}